*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    line-height: 1.4;
    display: grid;
    place-content: center;
}

img{
    max-width: 100%;
    display: block;
}

@media (max-width: 500px){
    h1{
        margin-top: 2rem;
    }

    .container{
        margin: 0;
    }

    .container .recipe-img{
        padding: 0;
        border-radius: 0;
    }
    .container .recipe-img img{
        border-radius: 0;
}
}